h1 { font-family: "Playwrite NL Guides", cursive; font-size: 55px;}
body  {background-color :#cce7e8 ;}
p {font-size: 15px; font-family: "Playwrite NL Guides", cursive;}
p.tieude {font-size: 25px; font-family: "Playwrite NL Guides", cursive;}
h3{font-family: "Playwrite NL Guides", cursive;font-size: 18px;}
p.chuthich {font-family: Times New Roman; font-size: 13px; }
p.bosung {font-family: "Pacifico", cursive;font-size: 20px;}
input.chuyen {font-family: "Playwrite NL Guides", cursive;}

.a {color: #9fbff2;}
.b {color: #eab676; }
.c {color: #9be0fa;}
.d {color: #f1c1e1;}
.e {color: #afe8cc;}

.container {text-align: center;}
.phankhung1 {padding: 20px; border-style: solid; height: 280px;}
.phankhung2 {padding: 20px; border-style: solid; margin-top: 30px;}
.phankhung3 {padding: 20px; border-style: solid; margin-top: 30px;}
.phankhung4 {background-color :#cfd9df; padding: 5px; margin-top: 50px;}